<%= form_for @person do |f| %> 

<% if @person.id.nil? %>

<div class="form-group">
  <%= f.label :age, "¿Cuál es tu edad?", :class => 'form-group__label' %> <%=
  f.number_field :age, min: 0, max: 110, :class => 'form-group__input' %>
</div>
<div class="form-group">
  <%= f.label :sex, "Sexo", :class => 'form-group__label' %>
  <div class="form-group__collection">
    <label class="radio">
      <%= f.radio_button :sex, :female, :class => 'radio__input' %> Femenino
    </label>
    <label class="radio">
      <%= f.radio_button :sex, :male, :class => 'radio__input' %> Masculino
    </label>
  </div>
</div>

<div class="form-group">
  <%= f.label :recent_trip, "¿Has viajado recientemente?", :class => 'form-group__label' %>
  <div class="form-group__collection">
    <label class="radio">
      <%= f.radio_button :recent_trip, '1', :class => 'radio__input' %> Si
    </label>
    <label class="radio">
      <%= f.radio_button :recent_trip, '0', :class => 'radio__input' %> No
    </label>
  </div>
</div>

<div class="form-group">
  <%= f.label :recent_trip, "¿Has estado con contacto con alguien que ha viajado recientemente?", :class => 'form-group__label' %>
  <div class="form-group__collection">
    <label class="radio">
      <%= f.radio_button :contact_with_recent_trip, '1', :class => 'radio__input' %> Si
    </label>
    <label class="radio">
      <%= f.radio_button :contact_with_recent_trip, '0', :class => 'radio__input' %> No
    </label>
  </div>
</div>

<% else %>

<div class="form-group">
  <div class="col-lg-10">
    <%= collection_check_boxes(:person, :symptoms_ids, @symptoms, :id, :name) %>
  </div>
</div>

<% end %>

<div class="form-actions">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit 'Continuar', :class => 'button button--next
    button--with-margin' %>
  </div>
</div>

<% end %>

<script>
  // Get location of person
  // reference: https://medium.com/better-programming/how-to-detect-the-location-of-your-websites-visitor-using-javascript-92f9e91c095f

  function ipLookUp() {
    $.ajax('http://ip-api.com/json').then(
      function success(response) {
        console.log("User's Location Data is ", response);
        console.log("User's Country", response.country);
        getAdress(response.lat, response.lon);
      },

      function fail(data, status) {
        console.log('Request failed.  Returned status of', status);
      },
    );
  }

  if ('geolocation' in navigator) {
    // check if geolocation is supported/enabled on current browser
    navigator.geolocation.getCurrentPosition(
      function success(position) {
        // for when getting location is a success
        console.log(
          'latitude',
          position.coords.latitude,
          'longitude',
          position.coords.longitude,
        );
      },
      function error(error_message) {
        // for when getting location results in an error
        console.error(
          'An error has occured while retrieving location',
          error_message,
        );
        ipLookUp();
      },
    );
  } else {
    // geolocation is not supported; get your location some other way
    console.log('geolocation is not enabled on this browser');
    ipLookUp();
  }
</script>
