<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @person.age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @person.sex %></dd>
  <dt><strong>Result:</strong></dt>
  <dd><%= @person.risk.name %></dd>
  <dt><strong>Description:</strong></dt>
  <dd><%= @person.risk.description %></dd>
</dl>


<%= link_to 'Iniciar', step1_path, :class => 'btn btn-default'  %>