<header class="welcome">
  <div class="welcome__logo">
    <%= image_tag "mano_white.svg" %>
    <span>¡Déntrense!</span>
  </div>
  <h1 class="welcome__title">Haz tu autoevaluación del COVID-19</h1>
  <p class="welcome__description">
    Evalúa tu salud y recibe instrucciones y recomendaciones sobre el COVID-19.
  </p>
</header>

<main class="container container--white">
  <%= link_to terms_and_conditions_path, :class => "action action--coronavirus" do %>
    <div class="action__content">
      <h2 class="action__title">Comenzar autoevaluación</h2>
      <p class="action__description">
        Realiza esta autoevaluación sólo si crees que tienes síntomas.
      </p>
    </div>
    <span class="action__icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#007363"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right"
      >
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline>
      </svg>
    </span>
  <% end %>
  <p class="source">
    La evaluación genera un resultado con el nivel de riesgo calculado en base a los síntomas, no pretende reemplazar el diagnóstico de un médico. En caso de padecer dificultad para respirar busque asistencia médica inmediatamente.
  </p>
  <div class="divider"></div>
  <div class="more">
    <a href="<%= url_for faq_path %>" class="action">
      <div class="action__content">
        <h2 class="action__title">Preguntas frecuentes</h2>
        <p class="action__description">
          Información sobre el COVID-19
        </p>
      </div>
      <span class="action__icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#979797"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-right"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </span>
    </a>
    <a href="#" class="action">
      <div class="action__content">
        <h2 class="action__title">Noticias y Recursos</h2>
        <p class="action__description">
          Próximamente
        </p>
      </div>
      <span class="action__icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#979797"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-right"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </span>
    </a>
  </div>
  <div class="divider"></div>
  <div class="info">
    <h3 class="info__heading">¿Qué es Déntrense?</h3>
    <p class="info__text">
      Déntrense es una iniciativa ciudadana para informar, prevenir y concientizar sobre el Coronavirus, partiendo de la importancia de mantenerse en casa para cuidar(nos) y seguir las medidas que permitan superar desde la solidaridad y la prevención colectiva.
    </p>
    <p class="info__text">
      La Organización Mundial de la Salud (OMS) ha declarado el COVID-19 como pandemia, pide a los países mitigar la propagación y proteger a las poblaciones con distanciamiento social y el aislamiento domiciliario para así salvar vidas. 
    </p>
    <p class="info__text">
      En el caso de El Salvador se han establecido cuarentenas de prevención para nacionales y extranjeros, la suspensión de las clases a nivel nacional y el cierre de aeropuertos por 15 días.
    </p>
    <h3 class="info__heading">¿Qué hacen con la información?</h3>
    <p class="info__text">
      La información es totalmente anónima y es usada únicamente para datos estadísticos los cuales compartiremos públicamente una vez sean obtenidos.
    </p>
    <h3 class="info__heading">Quiero reportar un error y/o colaborar</h3>
    <p class="info__text">
      Si deseas reportar un error o ponerte en contacto escríbenos a: <a href='mailto:dentrense@gmail.com'>dentrense@gmail.com</a>
    </p>
    <p class="info__text">
      También puedes ver el proyecto en Github y colaborar: <a href='https://github.com/DoItSV/covid19' target='_BLANK'>https://github.com/DoItSV/covid19</a>
    </p>
  </div>
  <div class="divider"></div>
  <ul class="links">
    <li><a href="<%= url_for terms_and_conditions_path %>">Términos y condiciones</a></li>
    <li><a href="<%= url_for privacy_policy_path %>">Aviso de privacidad</a></li>
  </ul>
</main>
