<header class="welcome">
	<div class="welcome__logo">
    <%= image_tag "dentrense_white.svg" %>
  </div>
	<h1 class="welcome__title center">Términos y Condiciones</h1>
</header>

<main class="container container--white container--with-padding	">
	<%= link_to step1_path, :class => "button button--next" do %>
	<div class="button__icon">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="feather feather-check"
		>
			<polyline points="20 6 9 17 4 12"></polyline>
		</svg>
	</div>
	<h2 class="button__text">Aceptar y Continuar</h2>
	<% end %>
	<div class="info">
		<p class="info__text">Al acceder y usar el funcionamiento de el sitio web dentrense.com manifiestas que has leído y aceptas estas condiciones de uso y la política de privacidad. Aquí se recoge toda la información relativa a tus derechos y obligaciones como usuario registrado de dicha sitio web, así como al uso de nuestros servicios.</p>
		<p class="info__text">Déntrense es una iniciativa ciudadana para informar, prevenir y concientizar sobre el Coronavirus, partiendo de la importancia de mantenerse en casa para cuidar (nos) y seguir las medidas que permitan superar desde la solidaridad y la prevención colectiva. Solo juntos podemos combatir esta crisis de salud mundial.</p>
		<p class="info__text">Aclaración: el usuario queda apercibido de que la utilización del prediagnóstico no constituye en ningún caso un servicio de diagnóstico médico, de atención de urgencias o de prescripción de tratamientos farmacológicos. Se advierte y pone en conocimiento del USUARIO, que la utilización del sitio web no puede en ningún caso sustituir la consulta presencial personal frente a un profesional médico debidamente cualificado.</p>
		<a href="<%= url_for terms_and_conditions_tldr_path %>" target="_blank">Leer <strong>términos y condiciones</strong> completo</a>
		<%= link_to step1_path, :class => "button button--next button--with-margin" do %>
		<div class="button__icon">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-check"
			>
				<polyline points="20 6 9 17 4 12"></polyline>
			</svg>
		</div>
		<h2 class="button__text">Aceptar y Continuar</h2>
		<% end %> <%= link_to root_path, :class => "button button--cancel button--with-margin" do %>
		<div class="button__icon">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-x"
			>
				<line x1="18" y1="6" x2="6" y2="18"></line>
				<line x1="6" y1="6" x2="18" y2="18"></line>
			</svg>
		</div>
		<h2 class="button__text">No acepto</h2>
		<% end %>
	</div>
</main>
